body {
    background-color: black;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
}

a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
}

a:hover {
    text-decoration: underline;
}

